

.card {
     width: 20%;
    border: 2px solid #efeded;
    display: inline-block;
    border-radius: 5px;
    height: auto;
    margin: 10px 20px 0px 5px;
    box-shadow: 2px 4px 8px black;
    
}
.card img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}
.desc{
    padding-left: 3px;
}
.card:hover{
    box-shadow: 20px 10px 20px black;
     transition: 2s;
}