h2{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif spartan;
 color: #ffa511;
 text-align: center;
 font-size: 55px;
 font-weight: 900;
 letter-spacing: 2px;
 list-style: 1.5;
 text-decoration: doube underline;
 text-transform: uppercase;
}