.box{
    height: 200px;
    width: 400px;
    background-color: lightpink;
    /* animation-name: colouranimate;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
    animation-iteration-count: 3;
    animation-direction: normal; */
    animation: colouranimate 4s 0s ease-in 3 normal;

}
@keyframes fontanimation {
    /* from{
        font-size:20px;
    }
    to{
        font-size:40px;
    } */
     0%{
        font-size:20px;
    }
    50%{
        font-size:40px;}
    100%{
        font-size:80px;
    }
}
@keyframes colouranimate {
    /* from{background-color: green;}
    to{background-color: red;} */
    0%{background-color: green;}
    40%{background-color: red;}
    75%{background-color: yellow;}
    100%{background-color: black;}
}