#face{
    height: 400px;
    width: 400px;
    border: 2px solid #fffa11 ;
    border-radius: 50%;
    background-color: #ffa511;
}
#mouth{
    width: 200px;
    height: 70px;
    background-color: brown;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    position: absolute;
    top: 240px;
    left: 110px;

}
#leye{
    height: 35px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 120px;
}
#reye{
     height: 35px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 280px;
}