*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    h1,h3{
    color: brown;
}
p{
  text-align: center;
  line-height: 30px;
}
h1{
    color: red; text-align: center;
    text-decoration: underline;
}
h3{
    color: black; text-align: center;
}
a{
    color: green;
    text-decoration: none;
}
button{
    color: blueviolet;
    background-color: white;
}
textarea{
    color: black;
}
