#container{
    height: 50px;
    width: 900px;
    background-color: pink;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box{
    height: 50px;
    width: 80px;
    font-size: 24px;
    margin-left: 5px;
    line-height: 50px;
}